.section-carrosel {
    margin: auto;
    width: 1320px;
    height: 390.25px;
    color: #05073C;
}

.carrosel {
    margin-top: 80px;
}


.caixa-box-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.box-titulo {
    font-size: 30px;
    font-weight: 700;
}

.box-descricao {
    font-size: 14.3;
    font-weight: 400;
}

.box-turismo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-texto-turismo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.texto-pais {
    font-size: 20px;
    font-weight: bold;
}

.box-img {
    width: 130px;
    height: 130px;
}

.box-img:hover {
    width: 150px;
    height: 150px;
    transition: 0.1s ease-in-out;
}